<!doctype html>
<html lang="en">
{{template "header.tmpl.html"}}

<body>
  {{template "nav.tmpl.html" .navStates}}
  <div class="container article">
    <br>
    <div class="row">
      <div class="col">
        {{template "article-content.tmpl.html" .article}}
      </div>
    </div>
    <br>
    <div id="buttons" class="row">
      <div class="col">
        <button id="manipulatedBtn" onclick="av_judge(false)" type="button" class="btn btn-danger btn-lg btn-block">Manipulated</button>
      </div>
      <div class="col">
        <button id="genuineBtn" onclick="av_judge(true)" type="button" class="btn btn-success btn-lg btn-block">Genuine</button>
      </div>
    </div>

    <div id="result" style="display: none;">
      {{with .article}}
      <script>
        var referenceGenuine = {{.IsGenuine}};
      </script>
      <div id="resultPassed" class="alert alert-success" role="alert">Well done!</div>
      <div id="resultFailed" class="alert alert-danger" role="alert">Oh snap!</div>            
      <h4>
        This video is {{if .IsGenuine}}genuine{{else}}manipulated{{end}}.
      </h4>
      <p>{{.ShortDesc}}</p>
      {{end}}

      <div class="row">
        <div class="col">
          <a href="./details/">More details&hellip;</a>
        </div>
        <div class="col">
          <form action="/submit/" method="POST">
            <input type="hidden" name="article-id" value="{{.article.ID}}">
            <input type="hidden" name="user-id" id="userID" value="">
            <input type="hidden" name="user-fp" id="userFP" value="">
            <input type="hidden" name="user-choice" id="userChoice" value="">
            <input type="hidden" name="duration" id="duration" value="">
            <input type="submit" class="btn btn-primary btn-lg btn-block" value="Next ({{.progress}})">
          </form>
        </div>
      </div>
      <br>
    </div>
  </div>

</body>
</html>
