<html>
  {{template "header.tmpl.html"}}
<body>
  {{template "nav.tmpl.html" .navStates}}

<div class="jumbotron jumbotron-fluid text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="/static/Aldrin_Apollo_11.jpg">
    </a>
    <h1>Game of Fakes</h1>
    <p>How well can you judge if a video is genuine or fake? In this game, you will be shown 10 videos; some of which have been digitally manipulated. Can you tell which is which?</p>
    <a type="button" class="btn btn-lg btn-default" href="/articles/1/"><span class="glyphiconglyphicon-flash"></span> Let's Go</a>
  </div>
</div>

</body>
</html>
