<html>
  {{template "header.tmpl.html"}}
<body>
  {{template "nav.tmpl.html" .navStates}}

<div class="jumbotron jumbotron-fluid text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="/static/Aldrin_Apollo_11.jpg">
    </a>
    <h1>Game of Fakes</h1>
    <p>TODO: A few sentences about the next step + Cookies 🍪 warning!</p>
    <a type="button" class="btn btn-lg btn-default" href="/articles/1/"><span class="glyphiconglyphicon-flash"></span> Start</a>
  </div>
</div>

</body>
</html>
